.svgGroup {
    width: 100%;
    position: relative;
    aspect-ratio: 480/510;
    /* min-height: 510px; */
    transform-origin: top;
}

.svgGroup #windowAndItems {
    position: absolute;
    width: 80%;
    top: 0;
    left: 13.75%;
    /* left: 66px; */
}

.svgGroup #sittingMan {
    position: absolute;
    width: 57.7%;
    top: 19.8%;
    /* top: 101px; */
    left: 12.3%;
    /* left: 59px; */
}

.svgGroup #curvedLines {
    position: absolute;
    width: 91.6%;
    top: 9.61%;
    /* top: 49px; */
    left: 0;
}

.svgGroup #paperPlane {
    position: absolute;
    width: 22.1%;
    top: 8%;
    /* top: 41px; */
    right: 11.88%;
    /* left: 318px; */
    /* right: 57px; */
    animation: paperPlaneAnimation ease-in-out 4s infinite;
    animation-delay: 0s;
}

.svgGroup #mail {
    position: absolute;
    width: 21.45%;
    top: 7.8%;
    /* top: 40px; */
    left: 0;
    animation: mailAnimation ease-in-out 4s infinite;
}

.svgGroup #planeTrail {
    position: absolute;
    width: 34.38%;
    top: 22%;
    /* top: 112px; */
    right: 27.9%;
    /* left: 183px; */
    /* right: 134px; */
    animation: planeTrailAnimation ease-in-out 4s infinite;
    transform-origin: bottom left;
    animation-delay: 0s;
}

.svgGroup #calendar {
    position: absolute;
    width: 21.25%;
    top: 23.5%;
    /* top: 120px; */
    right: 6.5%;
    /* left: 349px; */
    /* right: 31px; */
    animation: calendarAnimation ease-in-out 4s infinite;
    animation-delay: 0s;
}

.svgGroup #paper {
    position: absolute;
    width: 22.75%;
    top: 45.89%;
    /* top: 234px; */
    right: 0;
    /* left: 371px; */
    animation: paperAnimation ease-in-out 4s infinite;
    animation-delay: 0s;
}

.svgGroup #tablet {
    position: absolute;
    width: 20.83%;
    bottom: 12.5%;
    /* bottom: 64px; */
    /* top: 340.34px; */
    right: 5%;
    /* left: 357px; */
    /* right: 24px; */
    animation: tabletAnimation ease-in-out 4s infinite;
    animation-delay: 0s;
}

.svgGroup #books {
    position: absolute;
    width: 32.29%;
    bottom: 5.1%;
    /* bottom: 26px; */
    /* top: 381.5px; */
    left: 6.88%;
    /* left: 33px; */
}

.svgGroup #plant {
    position: absolute;
    width: 14.6%;
    bottom: 2.95%;
    /* bottom: 15px; */
    /* top: 353.6px; */
    left: 27.29%;
    /* left: 131px; */
}

@keyframes paperPlaneAnimation {
    0% {
        transform: translate(10px, 0);
    }
    50% {
        transform: translate(0, 10px) rotate(5deg);
    }
    100% {
        transform: translate(10px, 0);
    }
}

@keyframes mailAnimation {
    0% {
        transform: translate(0, 10px);
    }
    50% {
        transform: translate(2px, 0) rotate(3deg);
    }
    100% {
        transform: translate(0, 10px);
    }
}

@keyframes planeTrailAnimation {
    0% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes calendarAnimation {
    0% {
        transform: translate(0, 5px);
    }
    50% {
        transform: translate(2px, 0) rotate(-3deg);
    }
    100% {
        transform: translate(0, 5px);
    }
}

@keyframes paperAnimation {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0px, 6px) rotate(-2deg);
    }
    100% {
        transform: translate(0, 0px);
    }
}

@keyframes tabletAnimation {
    0% {
        transform: translate(0, 5px);
    }
    50% {
        transform: translate(2px, 0px);
    }
    100% {
        transform: translate(0, 5px);
    }
}