.svgGroup {
    position: relative;
    height: 510px;
}

@media only screen and (max-width: 1200px) {
    .svgGroup {
        height: 417px;
    }
}

@media only screen and (max-width: 992px) {
    .svgGroup {
        height: 323.85px;
    }
}

@media only screen and (max-width: 775px) {
    .svgGroup {
        display: none;
    }
}

.svgGroup #windowAndItems {
    position: absolute;
    width: 80%;
    top: 0;
    left: 13.75%;
}

.svgGroup #sittingMan {
    position: absolute;
    width: 57.7%;
    top: 19.8%;
    /* top: 101px; */
    left: 12.3%;
}

.svgGroup #curvedLines {
    position: absolute;
    width: 91.6%;
    top: 9.61%;
    left: 0;
}

.svgGroup #paperPlane {
    position: absolute;
    width: 22.1%;
    top: 8%;
    right: 11.88%;
    animation: paperPlaneAnimation ease-in-out 4s infinite;
    animation-delay: 0s;
}

.svgGroup #mail {
    position: absolute;
    width: 21.45%;
    top: 7.8%;
    left: 0;
    animation: mailAnimation ease-in-out 4s infinite;
}

.svgGroup #planeTrail {
    position: absolute;
    width: 34.38%;
    top: 22%;
    right: 27.9%;
    animation: planeTrailAnimation ease-in-out 4s infinite;
    transform-origin: bottom left;
    animation-delay: 0s;
}

.svgGroup #calendar {
    position: absolute;
    width: 21.25%;
    top: 23.5%;
    right: 6.5%;
    animation: calendarAnimation ease-in-out 4s infinite;
    animation-delay: 0s;
}

.svgGroup #paper {
    position: absolute;
    width: 22.75%;
    top: 45.89%;
    right: 0;
    animation: paperAnimation ease-in-out 4s infinite;
    animation-delay: 0s;
}

.svgGroup #tablet {
    position: absolute;
    width: 20.83%;
    bottom: 12.5%;
    right: 5%;
    animation: tabletAnimation ease-in-out 4s infinite;
    animation-delay: 0s;
}

.svgGroup #books {
    position: absolute;
    width: 32.29%;
    bottom: 5.1%;
    left: 6.88%;
}

.svgGroup #plant {
    position: absolute;
    width: 14.6%;
    bottom: 2.95%;
    left: 27.29%;
}

@keyframes paperPlaneAnimation {
    0% {
        transform: translate(10px, 0);
    }
    50% {
        transform: translate(0, 10px) rotate(5deg);
    }
    100% {
        transform: translate(10px, 0);
    }
}

@keyframes mailAnimation {
    0% {
        transform: translate(0, 10px);
    }
    50% {
        transform: translate(2px, 0) rotate(3deg);
    }
    100% {
        transform: translate(0, 10px);
    }
}

@keyframes planeTrailAnimation {
    0% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes calendarAnimation {
    0% {
        transform: translate(0, 5px);
    }
    50% {
        transform: translate(2px, 0) rotate(-3deg);
    }
    100% {
        transform: translate(0, 5px);
    }
}

@keyframes paperAnimation {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0px, 6px) rotate(-2deg);
    }
    100% {
        transform: translate(0, 0px);
    }
}

@keyframes tabletAnimation {
    0% {
        transform: translate(0, 5px);
    }
    50% {
        transform: translate(2px, 0px);
    }
    100% {
        transform: translate(0, 5px);
    }
}