.backBtn {
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 52px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    color: #000000;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
  }
  
  .backBtn:hover {
    filter: brightness(0.9);
  }
  
  .backBtn:active {
    filter: brightness(0.8);
  }
  
  .backBtn img {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background: rgba(192, 192, 192, 0.2);
  }
  
  @media only screen and (max-width: 1024px) {
    .backBtn {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .backBtn {
      position: fixed;
      height: 28px;
      background-color: transparent;
      left: 10px;
      top: 20px
    }
  
    .backBtn span{
      display: none;
    }
  }