@font-face {
    font-family: 'M PLUS 1p';
    src: url('MPLUS1p-Regular.woff2') format('woff2'),
        url('MPLUS1p-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'M PLUS 1p';
    src: url('MPLUS1p-Medium.woff2') format('woff2'),
        url('MPLUS1p-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

